.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 800px;
  max-width: 100%;
  margin: 0 auto;

  &__pane {
    max-width: 687px;
    width: 100%;
    border-radius: 35px;
    background-color: #363A45;
    padding: 35px 75px;
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }

  &__input {
    appearance: unset;
    padding: 14px 16px;
    border-radius: 6px;
    font-size: 16px;
    outline: 1.5px solid transparent;
    outline-offset: 2px;
    border: none;

    &:focus {
      outline: 1.5px solid #3B4595;
    }
  }

  &__submit-button {
    margin-top: 20px;
    height: 50px;
  }

  &__label {
    font-weight: 400;
    font-size: 16px;

    padding-left: 5px;
  }

  &__response {
    margin: 15px auto;
    font-weight: 700;
    border-radius: 14px;
    padding: 15px 75px;
    background-color: #61adbf;
    animation: fadeIn 240ms forwards ease-in-out;
    opacity: 0;

    @extend .form__pane;

    display: flex;
    align-items: center;
    gap: 20px;

    svg {
      width: 20px;
      height: 20px;
      flex-shrink: 0;
    }

    &--error {
      background-color: #bb4e4e;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}